.orderSummaryWrapper {
  width: 100%;
  max-width: 40em;
  min-height: 35em;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
  background-color: #242a2e;
  padding: 1em;
  border-radius: 8px;
  z-index: 2;
}
.orderSummaryWrapper.show {
  animation: zoom-in 0.3s ease-in-out;
}

@keyframes zoom-in {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: red;
  padding: 0.5em;
  font-weight: 500;
}
.total {
  border: 1px solid rgb(233, 13, 13);
  width: 10em;
}
.priceDetailsWrapper {
  display: flex;
  flex-direction: column;
}
.priceWrapper {
  margin-bottom: 0.5em;
  width: 18em;
  display: flex;
  justify-content: space-between;
}
.priceWrapper p,
.priceWrapper h5 {
  color: white;
}
.checkoutBtn {
  background-color: white;
  padding: 1em 2em;
  font-size: 1em;
}
.emptyCartWrapper {
  width: 90%;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyCartWrapper h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
}
.emptyCartWrapper p {
  color: white;
}
.noOrderMessage {
  font-weight: 500;
  margin-top: 1.5em;
  font-size: 1.8rem;
  color: #ffedfa;
}
