.dealsWrapper {
  background-color: beige;
  height: 38rem;
  background-image: url(../src/assets/dealsbg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.dealsTitle {
  position: absolute;
  top: 20%;
  left: 10%;
  line-height: 120%;
}
.dealsTitle p {
  font-weight: 600;
}
