.whatsnewWrapper {
  background-color: beige;
  height: 36rem;
  background-image: url(../../assets/cashback.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.whatsnewTitle {
  background-color: #3674b5;
  position: absolute;
  width: 100%;
  max-width: 38em;
  height: 25em;
  margin-top: 3em;
  margin-left: 2em;
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
.whatsnewTitle h1 {
  font-weight: 600;
  color: #f4f8d3;
}
.whatsnewTitle p {
  color: #f4f8d3;
}
@media (max-width: 600px) {
  .whatsnewTitle {
    background-color: #4c585b;
    position: absolute;
    width: 100%;
    max-width: 25em;
    height: 15em;
    margin-top: 3em;
    margin-left: 2em;
    display: flex;
    padding: 0.8em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}
